.carusel {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow: hidden;
}

.caruselImage {
    height: 270px;
    width: 200px;
    animation: newCard2 1s;
    cursor: pointer;
}

.caruselCard {
    /* border: 2px solid blue; */
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 330px;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: space-between;
}

.caruselControlsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.caruselTitle {
    display: flex;
    width: 200px;
    height: 60px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: #27282e;
    border-top: 5px solid;
    border-color: green;
    cursor: pointer;
}

.LoadingPlaceHolder {
    width: 200px;
    height: 330px;
    pointer-events: none;
}

.cardMoveLeft {
    animation: moveLeft 1s;
}


@keyframes moveLeft {
    from {
        width: 0px;
    }
    to {
        width: 200px;
    }
}