.carusel {
    display: flex;
    /* background: red; */
    flex-direction: row;
    width: 72vw;
    overflow: hidden;
}

.caruselImage {
    height: 270px;
    width: 10vw;
    /* padding: 10px 10px 5px 10px; */
    /* border-radius: 15px; */
    animation: newCard2 1s;
}

.caruselCard {
    /* border: 2px solid blue; */
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10vw;
    height: 330px;
    margin-left: 2px;
    margin-right: 2px;
    justify-content: space-between;
}

.caruselControlsWrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 20px;
}

.caruselTitle {
    display: flex;
    width: 10vw;
    height: 60px;
    overflow: hidden;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    color: white;
    background-color: #27282e;
    border-top: 5px solid;
    border-color: green;
}

.LoadingPlaceHolder {
    width: 10vw;
    height: 100%;
}

.cardMoveLeft {
    animation: moveLeft 1s;
}

/* .caruselCardWrapper{
    animation: newCard2 1s;
} */

@keyframes moveLeft {
    from {
        width: 0vw;
        /* transform: translateX(-5vw); */
    }
    to {
        width: 10vw;
        /* transform: translateX(0vw); */
    }
}