.popUpWrapper {
    display: flex;
    position: relative;
}

.popUp {
    margin-left: 30px;
    position: absolute;
    padding: 5px;
    background: #161618;
    color: white;
    /* border: solid white 2px; */
    border-right: solid white 2px;;
    height: 50px;
    width: 100px;
    font-size: 0.9rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    margin-right: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.popUpTriangle{
    content: "";
    position: relative;
    top:0;
    left:-20px;
    height: 50px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent white transparent transparent;
}


@media screen and (max-width: 600px) {
    .popUp {
        margin-left: 0px;

    }
    
    .popUpTry {
        border-width: 0px;
    }
    

}