.cardWrapper {
    margin-top: 15px;
    width: 90%;
    margin: 0px auto;
    margin-top: 20px;


}

.newCardContent {
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.searchForm {
    width: 100%;
    margin: 0px auto;
    max-width: 1300px;
    background: orange;
    height: 40px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px solid #ccc;
    border-right: none;
    border-radius: 2px 0 0 2px;
    box-shadow: inset 0 1px 2px #eee;
    color: grey;
    padding: 2px 6px;
}

.inputSearch {
    width: 100%;
    max-width: 100%;
    height: 40px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 400;
}

.submitSearch {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    width: 30px;
    border-color: #c6c6c6;
    background-color: #f0f0f0;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.10);
    cursor: pointer;
}

.moviesFound {
    height: 0;
    width: 100%;
    max-width: 100%;
    margin: 0px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    border-top:none;
    border:none;
    border-radius: 15px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    /* overflow: -moz-scrollbars-none;
    -ms-overflow-style: none; 
    scrollbar-width: none; */
    scrollbar-color: #0F5579 #27282E;
}


.movieBlockWrapper {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-animation: intro 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: intro 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.movieBlockWrapperReset {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@-webkit-keyframes intro {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes intro {
    0% {
        -webkit-transform: translateY(-1000px);
        transform: translateY(-1000px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.movieBlock {
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    width: 100%;
    max-width: 630px;
    margin-top: 20px;
    margin-left:10px;
    border-bottom: 2px #0F5579 solid;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
}

.movieTitle {
    width: 100%;
    max-width: 230px;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    margin-top: 10px;
    text-align: center;
    font-size: large;
    font-weight: 900;
    color:white;
}

.movieDescription {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.movieOverview {
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    font-size:1rem;
}

.movieScore {
    margin-top: 15px;
    margin-left: 30px;
    color: goldenrod;
    font-size: larger;
    font-weight: 900;
}

.movieRelease {
    margin-top: 3px;
    margin-left: 30px;
    color: green;
    font-size: larger;
    font-weight: 900;
}

.poster {
    height: 270px;
    width: 230px;
    border-radius: 15px;
    margin-top: 5px;
}

.movieblockButtons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 10px;
    width:100%;
    max-width: 300px;
}

.movieButton {
    background: #ffa724;
    height: 50px;
    width: 100px;
    font-size: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    border-radius: 15px;
    margin-right: 2px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.movieButton:hover {
    background: #e6a84c;
}

.trailerFrame {
    background: #e6a84c;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

@media screen and (max-width: 600px) {
    .movieBlockWrapper {
        margin:0px auto;

    }
    .movieBlockWrapperReset {
        margin:0px auto;
    }


    .movieBlock {
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
        border-bottom: 2px #0F5579 solid;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .movieOverview {
        margin-top: 5px;
        margin-left:0px;

    }
    .movieblockButtons {
        margin:20px auto 20px auto;
    }
    .movieScore {
        all:unset;
        margin-top: 15px;
        color: goldenrod;
        font-size: larger;
        font-weight: 900;
    }
    
    .movieRelease {
        all:unset;
        margin-top: 3px;
        color: green;
        font-size: larger;
        font-weight: 900;
    }
}